.back_basket {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.664);
    transition: all 1s;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;

    .basket{
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 300px;
        right: 0;
        height: 100%;
        background-color: rgb(26, 25, 25);
        padding: 10px;
        transform: translateX(100%);
        transition: 0.3s ease-in-out;
    }

}

.back_non {
    visibility: visible;
    opacity: 1;

    .basket {
        transform: translateX(0);
    }
}

.busket_tittle {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
    padding: 10px 10px;
    border-bottom: 1px solid white;
}

.busket_product {
    display: flex;
    flex-direction: column;
    padding: 5px;
    flex: 1;
    overflow: auto;
}

.product_add {
    display: flex;
    align-items: center;
    max-height: 100px;
    flex: 1;
    padding: 3px;
    margin: 3px 0;
    border: 1px solid white;
    border-radius: 10px;

    img {
        width: 30px;
        height: auto;
    }

    .product_img {
        width: 60px;
        height: auto;
        border-radius: 5px;
    }
    div {
        max-width: 175px;
        width: 100%;
        margin: 0 10px;
        
        P {
            margin-bottom: 10px;
        }
    }
}

.cansel {
    width: 30px;
    height: 30px;
}

.busket_sum {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    div {
        display: flex;
        margin-bottom: 10px;

        span {
            flex: 1;
            border-bottom: 1px dashed white;
            margin-bottom: 4px;
        }
    }
    
    button {
        background: rgb(14, 129, 14);
        background-color: rgb(14, 129, 14);
        border: 1px solid white;
        border-radius: 10px;
        margin: 10px;
        padding: 20px;
        position: relative;
        transition: 0.2s;
        cursor: pointer;
        font-size: 16px;

        &:disabled {
            background-color: rgb(65, 64, 64);
            cursor: default;

        }

        &:hover {
            background-color: rgb(33, 150, 38);
            transform: scale(1.05);

            img {
                right: 10px;
                transition: 0.2s;
                background-color: rgb(33, 150, 38);
            }
        }

        img {
            position: absolute;
            right: 15px;
            top: 15px;
            background-color: rgb(14, 129, 14);
        }
    }
}